@import "ui-variables";
@tab-height: 30px;
@tab-transition: .1s;
@tab-space: 24px;

.tab-bar {
    height: @tab-height;
    background-color: #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .tab {
        position: relative;
        padding-left: @tab-space !important;
        max-width: 160px;
        height: @tab-height;
        line-height: @tab-height;
        color: #333;

        transition: @tab-transition;

        .title {
            position: relative;
            text-align: center;
            padding: 0 !important;
            z-index: 1;
        }

        .close-icon {
            top: 0 !important;
            left: 0 !important;
            height: @tab-height - 3 !important;
            width: @tab-space !important;
            color: #888 !important;
            border: 0 !important;
            text-align: center !important;
            border-radius: 0 !important;
            opacity: 0;

            transition: @tab-transition;

            &:before {
                display: inline-block !important;
            }

            &:hover {
                color: @tab-color-primary !important ;
            }
        }

        &:hover {
            .close-icon {
                opacity: 1;
            }
        }

        &.modified {
            color: @tab-color-modified !important;
            border-bottom-color: @tab-color-modified !important;
        }


        &.active {
            color: @tab-color-primary;
            border-bottom: 3px solid @tab-color-primary;
            z-index: 1;
        }
    }
}
